/*-- scss:defaults --*/
$body-bg: #f8f6f0 !default;
$body-color: #63615a;
$link-color: #8f8187;
$font-family-sans-serif: 'IBM Plex Sans';
$font-family-monospace: 'IBM Plex Sans';

$navbar-bg: #333333;
$navbar-fg: #f8f6f0;
$navbar-hl: #f8f6f0;

/*-- scss:rules --*/
@font-face {
    font-family: 'Teko';
    src: url('static/fonts/teko-v15-latin-regular.woff') format('woff2'),
         url('static/fonts/teko-v15-latin-regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'IBM Plex Sans';
    src: url('static/fonts/IBMPlexSans-Regular.woff2') format('woff2'),
        url('static/fonts/IBMPlexSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media screen and (min-width: 56em) {
  html {
    font-size: 1.1em;
  }
}

