/* css styles */
div.sourceCode{
  background-color: black;
}


body {
    background-color: white;
    font-size: 0.875em;
}
    
h1,h2,h3,h4{
  font-family: 'Teko';
}


.listing-title{
  color: #63615a;
  font-weight: 400;
  font-size: 1.5em;
  font-family: 'Teko';
}

.listing-title:hover {
  text-decoration:underline;
  color:#8f8187;
}


pre{
  color: var(--navbar-fg);
  background-color: #ebe9e1;
  padding: 5px 5px 5px 5px;
  border-radius: 0.25rem;
}

code{
  color: var(--navbar-fg);
}



/* inline code */
.post-body>p>code{
  background-color: rgba(255,255,255,.1);
}

a.btn-links:hover{
  background-color: rgba(255,255,255,.1)!important;
}

.habout{
  font-size: 2em;
  font-family: 'Teko';
  font-weight: 200;
}

h1{
  font-weight: 200;
  font-size: 3em;
}

h2{
  font-weight: 200;
  font-size: 2em;
}

h3{
  font-weight: 200;
  font-size: 1.5em;
}

h4.f4{
  font-size: 1.25rem;
}

h1.f3{
  font-weight: 200;
}

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-color:#383732;
*/*  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}


/* navbar kink */
@media screen and (min-width: 999px) {
  .navbar .navbar-nav .nav-link {
    color:  #99978d;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .navbar .navbar-nav .nav-link:hover {
    color: white;
  }
  .navbar .navbar-nav .nav-item {
    position: relative;
  }
  .navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    width: 0%;
    content: "";
    height: 1px;
    transition: all 0.5s;
  }
  
.navbar .navbar-nav .nav-item:hover::after {
    width: 100%;
  }
}


.navbar-brand>img {
    max-height: 43px;
    width: auto;
    padding-right: 6px;
}

.nav-footer a{
  color: #99978d;
}

.active {
  border-bottom: 1px solid #a198a6;
}

.navbar-brand {
    position: relative;
    width: 170px;
    left: 15px;
    background-size: contain;
}

/*footer*/
.nav-footer{
  border-top: 0px !important;
  background-color: #ebe9e1;
}

footer.footer .nav-footer, #quarto-header nav {
    padding-left: 1em;
    padding-right: 0em;
    padding-bottom: 1em;
}

.nav-footer-left .footer-items .nav-link, .nav-footer-center .footer-items .nav-link, .nav-footer-right .footer-items .nav-link {
    padding-right: 0.1em;
    font-size: 1.2em;
}

footer.footer .nav-footer, #quarto-header nav {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}


/*buttons*/

.btn-outline-success{
  border-color: #63615a;
  background-color: transparent;
  border-radius: 10px;
  padding: 1px;
  min-width: 80px;
  height: 30px;
  font-size: 0.77em;
}

.btn-outline-success:hover{
  border-color: #63615a;
  background-color: #ebe9e1;
}

.btn-outline-success a{
  text-decoration: none;
  text-transform: uppercase;
}



/* grid cards */
h5, .h5{
  font-size: 1.5rem;
  
}


.card {
  overflow: hidden;
  display: grid;
  flex-direction: column;
  padding: 5px;
  margin: 10px;
  margin-bottom: 10px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    transition: all .2s ease-out;
}


.cards {
  display: flex;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  flex-direction: column;
  margin: 50px;
}


.card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
 
.card-body{
  background-color: white;
  padding-top: 0.9em;
}


.card-img-top{
  background-color: white;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}



.borderless{
  background-color: #333333;
}

.quarto-grid-item img.thumbnail-image {
   object-fit: scale-down;
    padding-top: 0.2em;
    padding-left: 0.1em;
    padding-right: 0.1em
}

.quarto-grid-link:hover {
  text-decoration: underline;
}




.thumbnail-image:hover{
  opacity:35%;
}


/*misc*/
.center {
  position: absolute;
  text-align: center;
}

div.column.col-v-center{
   vertical-align: middle;
}

div.quarto-post {
    display: flex;
    gap: 2em;
    margin-bottom: 1.5em;
    border-bottom: 1px solid #dee2e6;
    align-content: center;
}

.home-title{
  font-size: 2em;
}

/* icons */
.socials {
    padding-bottom: 1em;
    padding-left: 3%;
    font-size: 1.6em;
}

.socials a{
  color: #99978d;
  margin-left: 0.1em;
  size: 50%;
}



.socials a:hover {
opacity: 50%;
}

.vspace {
     margin-bottom: 1cm;
  }
  
 .vspace2 {
     margin-bottom: 0.5cm;
     padding: 1%;
  }

.hspace {
     margin-left: 5cm;
     padding: 1%;
  }

.main {
    margin-top: 0em;
    margin-bottom: 1em;
}

div.quarto-about-jolla .about-image {
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5em;
    margin-top: 2em;
}

.form-select {
    background-color: white; 
}

.form-control {
    background-color: white;
}


.input-group-text {
    background-color: #ebe9e1;
}

    
#title-block-header {
    margin-block-end: 1rem;
    position: relative;
*/*    margin-top: 70px; uncomment if fixed navbar
}



#profile .network-icon {
    margin-top: 30px;
}

/*table*/
table.quarto-listing-table a {
    text-decoration: none;
}

.table a {
    word-break: break-word;
}

a {
    color: #63615a;
}


/*references side bar adjusted when fixed navbar*/
#quarto-margin-sidebar .quarto-listing-category {
    padding-top: 0;
    font-size: 0.875rem;
}

*/*.sidebar.toc-left>*, .sidebar.margin-sidebar>* {
  padding-top: 5.5em;
}

#quarto-margin-sidebar .quarto-listing-category {
    padding-top: 70px;
    font-size: 1rem;
}
/*/


.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

