/* css styles for blog */

.sidebar.toc-left>*, .sidebar.margin-sidebar>* {
    padding-top: 2.5em;
}

input, button, select, optgroup, textarea {
    background-color: #ebe9e1;
}


#title-block-header.quarto-title-block.default .quarto-title-meta-contents p, #title-block-header.quarto-title-block.default .quarto-title-authors p, #title-block-header.quarto-title-block.default .quarto-title-affiliations p {
    margin-bottom: 1.1em;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-heading {
    font-size: .1em;
    opacity: 0;
    font-weight: 10;
}

/* to remove author field */
#title-block-header.quarto-title-block.default .quarto-title-meta-contents {
    font-size: .9em;
    opacity: 0;
    font-size: .1em;
}

/* styles for subscribe button */
input, button {
    margin: 2px;
    border-color: #63615a;
    background-color: transparent;
    padding: 1px;
    min-width: 80px;
    font-size: 0.81em;
}

input:hover{
  border-color: #63615a;
  background-color: #ebe9e1;
}
